 <!DOCTYPE CSS>
 
 
<style>
 a{place-holder}


a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
	display:inline;
	 padding: 14px 16px;
	  background-color: #111;
}
a:visited {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: green-yellow;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: green;
    background-color: transparent;
    text-decoration: none;
}


 body{background-color:#000080; 
 }
 h1{ font-family:Play;
 color: white;}
 p {font-family:Play;
 color: white;
 font-size:28px; }
ol {font-family:Play;
color: white; 
font-size:28px; }
 
 .box {
				width: 200px;
				height: 200px;
				background-color: pink;
				animation-name:move;
				animation-duration: 15s;	
				animation-delay: 10s; 
				animation-iteration-count:1;
				animation-fill-mode:forwards;
				padding: 10px;
				}
				@keyframes move {
				 a{place-holder}
				from {
					background-color: pink;
					
				}
				
				to {
				background-color:purple;
				 transform:translateX(9001px);
				}
				nav {
				margin: 5px;
				}
			
			nav ul, li, a {
				list-style-type: auto;
				display: flex;
				flex-direction: row;
				justify-content: space-between; 				
				align-items: center; 
				background-color: lightblue;
				}
				
			nav ul {
				border: 2px solid navy;
				padding: 10px;
				}
				
			nav ul a {
				text-decoration: underline;
				}
				
			nav ul a:hover {
				text-decoration: underline;
				}
		ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

 
 </style>
